.hero {
  background: var(--bg-color);
  color:var(--color);
  padding: 80px 20px;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
}

.hero-text {
  flex: 1;
  min-width: 300px;
}

.hero-text .title {
  font-size: 3rem;
  font-weight: bold;
}

.hero-text .subtitle {
  font-size: 1.2rem;
  margin: 10px 0 20px;
}

.cta-btn {
  background-color: #6366f1;
  padding: 12px 24px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.cta-btn:hover {
  background-color: #4f46e5;
}
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 300px;
  
}

.animated-svg {
  width: 80%;
  animation: float 3s ease-in-out infinite;
}
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}